.sectionContainer {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.sectionTitle {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-bottom: 1rem;
}
.sectionTable {
    margin-top: 1rem;
}
.sectionTableHeader {
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    justify-content: space-between;
}
.sectionTableHeader li {
    padding: 10px;
    width: 20%;
    text-align: center;
    background-color: #34495e;
    color: #fff;
    border-right: 1px solid #fff;
}
.sectionTableHeader li:first-child {
    width: 30%;
}
.sectionTableHeader li:last-child {
    border-right: none;
    width: 30%;
}
.sectionItem {
    display: flex;
    position: relative;
    font-size: 1rem;
    width: 100%;
}
.sectionItem li {
    padding: 10px;
    width: 20%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;
    -ms-word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-top: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.sectionItem li:nth-child(4) {
    width: 30% ;
}
.sectionItem:hover {
    background-color: #ecf0f1;
}
.sectionItem li:first-child {
    border-left:  1px solid rgba(0, 0, 0, 0.2);
    width: 30%;
}

.sectionItemSymbols {
    display: flex;
    justify-content: center;
}

.sectionIcon {
    width: 40px;
    height: 40px;
}

@media(max-width: 425px) {
    .sectionContainer {
        padding: 10px;
        margin-top: 3rem;
        background-color: #ecf0f1;
        box-shadow: none;
    }
    .sectionTableHeader li {
        padding: 5px;
        font-size: 12px;
    }
}