.popupContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    transition: .25s;
    align-items: center;
}
.visible {
    display: flex;
}
.popupInner {
    padding: 2rem;
    border-radius: 10px;
    height: 90%;
    overflow-y: scroll;
    width: 80%;
    position: relative;
    background-color: #fff;
}

.addBtn {
    margin-top: 1rem;
}
.popupMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formula {
    transition: .25s;
    display: flex;
    font-size: 3rem;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}
.popupTitle {
    margin-bottom: 2rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ecf0f1;
    padding: 1rem 1.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    width: 60%;
}
.property {
    display: flex;
    flex-direction: column;
}
.property div {
    display: flex;
    align-items: center;
}
.property label {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.property input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.property input[type='number'] {
    padding: 10px;
    border: none;
}
.errorMessage {
    padding: 10px;
    border: 1px solid #27ae60;
    text-align: center;
    color: #27ae60;
    transition: .25s;
    height: 100%;
}

@media(max-width: 768px) {
    .popupInner {
        width: 95%;
        padding: 1rem;
    }
    .properties {
        width: 100%;
    }
}
@media(max-width: 425px) {
    .popupTitle {
        text-align: left;
    }
    .popupInner {
        width: 100%;
        border-radius: 0px;
        height: 100%;
    }
 
}