.welcomePage {
    padding: 2rem;
    max-width: 1140px;
    margin: 0 auto;
}

.countLink {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}
@media(max-width: 425px) {
    .welcomePage {
        padding: 0px;
    }
    .countLink {
        justify-content: center;
    }
}