.removeBtn {
    background-color: #e74c3c;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    transition: .25s;
}
.removeBtn:hover {
    background-color: #f12009;
}