.customButton {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #27ae60;
    transition: .25s background-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.customButton:hover {
    background-color: #2ecc71;
}
.customButton:disabled {
    background-color: rgba(0, 0, 0, 0.3);
}
.customButton:disabled:hover{
    cursor: not-allowed;
}